<!-- <div  class="container text-right py-2">
   <button type="button" (click)="Logout()" class="btn btn-danger shadow  "><i class="fa fa-sign-out"></i>Log Out</button>
</div> -->

<div class="main">
     <div class="banner-card"><img id="imgset" src="\assets\th.jpeg" width="150" ><article id="center">Register</article></div>
     <div class="banner-card"><img id="imgset" src="\assets\th (2).jpeg" width="150"><article id="center">View Registration List</article></div>
     <div class="banner-card"><img id="imgset" src="\assets\th (1).jpeg"  width="150"><article id="center">View Enquiries(23)</article></div>
     <div class="banner-card"><img id="imgset" src="\assets\th (3).jpeg"  width="150"><article id="center">Religion Management</article></div>
     <div class="banner-card"><img id="imgset" src="\assets\images\State Management.png"  width="150"><article id="center">State Management</article></div>
    
  </div>
  <br>
  <div class="main">
    <div class="banner-card"><img id="imgset" src="\assets\images\State Management.png"  width="150"><article id="center">City Management</article></div>
    <div class="banner-card"><img id="imgset" src="\assets\images\City Management.png"  width="150"><article id="center">Caste Management</article></div>
    <div class="banner-card"><img id="imgset" src="\assets\images\Education.png"  width="150"><article id="center">Education</article></div>
    <div class="banner-card"><img id="imgset" src="\assets\keys.jpeg"  width="150"><article id="center">Change Password</article></div>
   
 </div>